# .gitignore
.venv/
.venv-devtools/
**/*.egg-info/
__pycache__/
.pytest_cache/
.ruff_cache/
project_graph/
build/
dist/
UAT_Package/
.env
.idea/
.vscode/
balances_history/
*.pyc
*.pyo
*.pyd
*.log
*.spec
*.exe
*.key
*.db
*.master
*.zip
coverage.xml
.coverage
htmlcov/